[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
graphene = "*"
graphql-core = "*"
graphql-relay = "*"
"iso8601" = "*"
mongoengine = "*"
promise = "*"
pymongo = "*"
pyparsing = "*"
six = "*"
typing = "*"
blinker = "*"

[dev-packages]
mongomock = "*"
py = "*"
pytest = "*"
pytest-cov = "*"
pytz = "*"
Flask = "*"
Flask-GraphQL = "*"

[requires]
python_version = "3.6"
